source https://api.nuget.org/v3/index.json

clitool dotnet-xunit 2.3.1
nuget Microsoft.AspNetCore.App
nuget Microsoft.NET.Test.Sdk 15.7.0
nuget xunit 2.3.1
nuget xunit.runner.visualstudio 2.3.1
nuget coverlet.msbuild 2.1.1